[Desktop Entry]
Encoding=UTF-8
Name=Bash Config
Name[am]=Bash Config
Name[ca]=Bash Config
Name[cs]=Bash Config
Name[da]=Bash Config
Name[de]=Bash Config
Name[el]=Bash Config
Name[es]=Bash Config
Name[fi]=Bash Config
Name[fr]=Bash Config
Name[hi]=Bash Config
Name[hr]=Bash Config
Name[hu]=Bash Config
Name[is]=Bash Config
Name[it]=Bash Config
Name[ja]=Bash Config
Name[kk]=Bash Config
Name[lt]=Bash Config
Name[nl]=Bash Config
Name[pl]=Bash Config
Name[pt_BR]=Bash Config
Name[pt]=Bash Config
Name[ro]=Bash Config
Name[ru]=Bash Config
Name[sk]=Bash Config
Name[sq]=Bash Config
Name[sv]=Bash Config
Name[tr]=Bash Config
Name[uk]=Bash Config
Name[zh_TW]=Bash Config
Comment=bashrc aliases and prompt theming
Comment[am]=bashrc aliases and prompt theming
Comment[ca]=bashrc aliases and prompt theming
Comment[cs]=bashrc aliases and prompt theming
Comment[da]=bashrc aliases and prompt theming
Comment[de]=bashrc aliases and prompt theming
Comment[el]=bashrc aliases and prompt theming
Comment[es]=bashrc aliases and prompt theming
Comment[fi]=bashrc aliases and prompt theming
Comment[fr]=bashrc aliases and prompt theming
Comment[hi]=bashrc aliases and prompt theming
Comment[hr]=bashrc aliases and prompt theming
Comment[hu]=bashrc aliases and prompt theming
Comment[is]=bashrc aliases and prompt theming
Comment[it]=bashrc aliases and prompt theming
Comment[ja]=bashrc aliases and prompt theming
Comment[kk]=bashrc aliases and prompt theming
Comment[lt]=bashrc aliases and prompt theming
Comment[nl]=bashrc aliases and prompt theming
Comment[pl]=bashrc aliases and prompt theming
Comment[pt_BR]=bashrc aliases and prompt theming
Comment[pt]=bashrc aliases and prompt theming
Comment[ro]=bashrc aliases and prompt theming
Comment[ru]=bashrc aliases and prompt theming
Comment[sk]=bashrc aliases and prompt theming
Comment[sq]=bashrc aliases and prompt theming
Comment[sv]=bashrc aliases and prompt theming
Comment[tr]=bashrc aliases and prompt theming
Comment[uk]=bashrc aliases and prompt theming
Comment[zh_TW]=bashrc aliases and prompt theming
Exec=bashrc-config
Terminal=false
Type=Application
Icon=preferences-system
Categories=GNOME;GTK;System;MX-Setup
NoDisplay=false
